<?xml version="1.0" encoding="utf-8"?>
<manifest package="marvelcomics.eoinahern.ie.marvelcomics"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@drawable/marvel_logo"
		android:label="@string/app_name"
		android:roundIcon="@drawable/marvel_logo"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".UI.MainGallery.MainGalleryActivity"/>
		<activity android:name=".UI.BaseActivity" />
		<activity android:name=".UI.Intro.IntroActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>